.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name {
  font-size: 16px;
}

.btn {
  width: 20%;
  border-width: 0;
  line-height: 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
